{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Sobre Nós</h1>
    <p class="mt-4">
        A <strong>EM Viar Logística</strong> é uma empresa especializada em serviços logísticos, com foco na distribuição de cargas fracionadas em todo o estado de Minas Gerais. Atuamos na modalidade de transporte expresso, oferecendo agilidade, eficiência e segurança em cada entrega.
    </p>
    <p>
        Nosso diferencial está no uso estratégico de tecnologia de ponta para gestão logística, combinado com a expertise de uma equipe altamente qualificada. Investimos continuamente em inteligência logística para criar soluções personalizadas que atendam às necessidades específicas de cada cliente.
    </p>
    <p>
        Com um compromisso sólido com a excelência operacional, nos destacamos por entregar resultados que agregam valor ao negócio de nossos parceiros. Seja na coleta, transporte ou entrega, garantimos qualidade em cada etapa do processo logístico.
    </p>
</div>
{% endblock %}
