{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="hero d-flex flex-column align-items-center text-center">
    <div class="container">
        <div class="row align-items-center">
            <!-- Ícone à esquerda com tamanho aumentado -->
            <div class="col-md-2 text-center mb-3 mb-md-0">
                <img src="{% static 'website/aniversario10y.png' %}" alt="10 Anos de Aniversário" 
                     class="img-fluid" 
                     style="max-width: 225px;"> <!-- 150px original + 50% -->
            </div>

            <!-- Texto centralizado -->
            <div class="col-md-10 text-center">
                <h1>Bem-vindo à EM Viar Logística</h1>
                <p>Soluções modernas e inovadoras em logística para atender às suas necessidades.</p>
                <a href="{% url 'services' %}" class="btn btn-saiba-mais mt-3">Saiba Mais</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Por que escolher a EM Viar Logística?</h2>
    <div class="row text-center">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Entrega Rápida</h3>
                    <p class="card-text">Concluímos mais de 80% das nossas entregas em até 24 horas.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Especialização</h3>
                    <p class="card-text">Somos 100% voltados para a distribuição logística.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Coleta de Mercadorias</h3>
                    <p class="card-text">Coletamos sua mercadoria diretamente no ponto de origem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Informações em Tempo</h3>
                    <p class="card-text">Nosso retorno de informações ocorre sempre em até 48 horas após a entrega.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Entrega Personalizada</h3>
                    <p class="card-text">Personalizamos as entregas de acordo com a necessidade da sua operação.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Preços Diferenciados</h3>
                    <p class="card-text">Oferecemos preços competitivos e diferenciados, sem comprometer a qualidade.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Nossos Diferenciais</h2>
    <div class="row text-center">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Abrangência</h3>
                    <p class="card-text">Atendemos mais de 600 municípios em Minas Gerais de forma direta.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Expertise de Mercado</h3>
                    <p class="card-text">Possuímos clientes de segmentos variados, adaptados a manipular diferentes tipos de produtos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Alta Performance</h3>
                    <p class="card-text">Buscamos continuamente aprimorar nossos serviços para garantir alta performance no atendimento.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex align-items-stretch">
            <div class="card border-0 shadow-sm mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title text-primary">Abertura e Inovação</h3>
                    <p class="card-text">Estamos sempre abertos a ouvir, entender e desenvolver a melhor maneira de trabalhar sua operação.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
