{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Nossos Serviços</h1>
    <div class="row">
        <div class="col-md-12">
            <p class="text-justify">
                Na <strong>EM Viar Logística</strong>, oferecemos uma ampla gama de serviços projetados para atender às diversas necessidades de nossos clientes. Trabalhamos com soluções personalizadas que garantem eficiência, segurança e pontualidade.
            </p>
            <p class="text-justify">
                Entre nossos principais serviços estão:
            </p>
            <ul class="text-justify">
                <li>Transporte rodoviário de cargas em âmbito nacional;</li>
                <li>Gestão de logística reversa;</li>
                <li>Armazenagem e distribuição eficiente de produtos;</li>
                <li>Soluções logísticas integradas para indústrias e comércios;</li>
                <li>Monitoramento e rastreamento em tempo real.</li>
            </ul>
            <p class="text-justify">
                Nosso objetivo é garantir que cada etapa do processo logístico seja realizada com excelência, sempre buscando superar as expectativas de nossos clientes. 
                Oferecemos tecnologia avançada e uma equipe especializada, pronta para oferecer suporte completo e soluções sob medida.
            </p>
        </div>
    </div>
</div>
{% endblock %}
